doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//msurguy.github.io/ladda-bootstrap/dist/ladda-themeless.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="//msurguy.github.io/ladda-bootstrap/dist/spin.min.js"></script>
        <script src="//msurguy.github.io/ladda-bootstrap/dist/ladda.min.js"></script>
        script.
            $(document).ready(function() {
                Ladda.bind( '.ladda-button', { timeout: 2000 } );
            });
            

        
    body
        .container
            .row
                div(class='col-md-offset-3 col-md-6')
                    form.form-signin(method="post", action="/signup")
                        h2.form-signin-heading Signup
                        input.form-control(type="text", name="email", placeholder="email",autofocus)
                        input.form-control(type="password", name="password", placeholder="password")
                        button(class="btn btn-primary ladda-button", data-style="expand-right") 
                            span.ladda-label Submit
                div(class='col-md-offset2 col-md-8')
                    |The result object:
                div(class='col-md-offset2 col-md-8')
                    =result
