
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//msurguy.github.io/ladda-bootstrap/dist/ladda-themeless.min.css">

    <style>
      .form-alert {
          margin-bottom: 0px;
          padding-top:5px;
          padding-bottom:5px;
      }
    </style>


  </head>
  <body ng-app="yncApp" ng-controller="Controller as ctrl"> 
    
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div ng-form="signin_form" novalidate class="form-signin" id="form-signin">
            <h2 class="form-signin-heading">Signup</h2>
            <div ync-error field="email" errors="ctrl.validationErrors"></div>
            <input type="text" name="email" ng-model="ctrl.email" placeholder="email" autofocus class="form-control" ng-enter="ctrl.validate()">
            <div ync-error field="password" errors="ctrl.validationErrors"></div>
            <input type="password" name="password" ng-model="ctrl.password" placeholder="password" class="form-control" ng-enter="ctrl.validate()">
            <button data-style="expand-right" class="btn btn-primary ladda-button" type="button" ng-click="ctrl.validate()">
              <span class="ladda-label">Submit</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset3 col-md-6"><span>The result object:</span></div>
      </div>
      <div class="row">
        <div class="col-md-offset3 col-md-6"><span id="validationResult">{{ctrl.validationResult}}</span></div>
      </div>
    </div>
  </body>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//msurguy.github.io/ladda-bootstrap/dist/spin.min.js"></script>
  <script src="//msurguy.github.io/ladda-bootstrap/dist/ladda.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

  <script src="../../lib/validation.js"></script>

  <script id="ync-error-template" type="text/ng-template">
      <div role="alert" class="alert alert-danger form-alert" ng-repeat="error in errors | filter:{field:field}">
        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="sr-only">Error:</span>
        <span>{{error.msg}}</span>
      </div>
    </script>


  <script>
    (function() {
        'use strict';

        angular.module('yncApp', [])
          .directive('ngEnter', function () {
            return function (scope, element, attrs) {
                element.bind('keydown keypress', function (event) {
                    if(event.which === 13) {
                        scope.$apply(function (){
                            scope.$eval(attrs.ngEnter);
                        });

                        event.preventDefault();
                    }
                });
            };
          })
          .directive('yncError', function(){
            return {
              templateUrl: 'ync-error-template',
              scope: {
                errors: '=',
                field: '@'
              }
            };
          })
          .controller('Controller', function($scope, validationService) {
            var ctrl = this;

            this.validationErrors = [
              {field: 'email', msg: 'emailmsg'},
              {field: 'password', msg: 'passwordmsg'},
              {field: 'email', msg: 'emailmsg2'}
            ];

            this.validate = function() {
                validationService.validate(
                  {
                    email: ctrl.email, 
                    password: ctrl.password
                  }, 
                  function(err,res){
                    if(err) return alert(err);
                    ctrl.validationResult = res;
                  });
            };
          })
          .factory('validationService', function(){

            var emailRequiredValidator = new ync.RequiredValidator('email');

            var passwordRequiredValidator = new ync.RequiredValidator('password');

            var emailFormatValidator = new ync.Validator(
              function validate(obj) {
                var field = obj.email;
                return !field || (field.indexOf('@') >= 0 && field.indexOf('.') >= 0 && field.lastIndexOf('@') < field.lastIndexOf('.'));
              },
              new ync.FailedResult('email', 'ERROR', 'format'));

            var passwordLengthValidator = new ync.Validator(
              function validate(obj) {
                return !obj.password || obj.password.length >= 6;
              },
              new ync.FailedResult('password', 'ERROR', 'length')
            );

            var emailReservedValidator = new ync.Validator(
              function validate(obj, callback) {
                setTimeout(
                  function() {
                    callback(
                      false
                    )
                  },
                  2000
                );
              },
              new ync.FailedResult('email', 'ERROR', 'reserved'),
              2
            );

            return {
              validate: function(obj, callback) {
                ync.validate(
                  obj, 
                  [
                    emailRequiredValidator,
                    emailFormatValidator,
                    emailReservedValidator,
                    passwordRequiredValidator,
                    passwordLengthValidator
                  ], 
                  callback
                );
              }
            };

          });
    })(); 
  </script>
</html>